@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");
* {
  margin: 0;
  left: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: $white-color;
  line-height: 32px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black-color;
}
.App {
  background-color: $black-color;
  overflow: hidden !important;
}
p {
  font-size: 1.6rem;
}
