.button {
  color: $white-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  border-radius: 16px;
  cursor: pointer;
  padding: 12px 41.5px;
  &.primary {
    background-color: $blue-color;
    transition: 0.5s ease;
  }
  &.primary:hover {
    opacity: 0.8;
  }
}
