a.button {
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  &.noBorder {
    border: none;
  }
}
.button {
  color: $white-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  border-radius: 16px;
  cursor: pointer;
  padding: 12px 41.5px;
  border: 2px solid $blue-color;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  &.primary {
    background-color: $blue-color;
    transition: 0.5s ease;
  }
  &.primary:hover {
    opacity: 0.8;
  }
  &.transparent {
    background-color: unset;
    transition: 0.3s ease;
    &.noBorder {
      border: none;
    }
  }
  &.transparent:hover {
    background-color: $blue-color;
  }
  &.content {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 568px) and (max-width: 1024px) {
  .button {
    margin-bottom: 6px;
  }
}
