.card-wrapper {
  background-color: $gray-color;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 24px;
  &.noPadding {
    padding: unset;
    width: fit-content;
    background-color: transparent;
  }
  &.noPadding .card-spotlight__image {
    height: 508px;
    width: fit-content;
  }
  &.noPadding .card-spotlight__image img {
    object-fit: contain;
  }
  .card-spotlight__image {
    position: relative;
    width: 352px;
    height: 352px;
    overflow: hidden;
    margin-bottom: 24px;
    display: flex;
    border-radius: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &.half {
      margin-bottom: 0;
    }

    .card-spotlight__countdown {
      position: absolute;
      left: 50%;
      bottom: 8px;
      transform: translateX(-50%);
      background-color: #0f182e;
      width: 192px;
      height: 42px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        margin-right: 12px;
        width: 24px;
        height: 24px;
      }
      span {
        font-weight: 600;
        font-size: 1.6rem;
      }
    }
    .card-over-lay {
      position: absolute;
      background: radial-gradient(
          151.95% 463.58% at -44.29% -62.34%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
      backdrop-filter: blur(21px);
      border-radius: 16px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      transition-delay: 1s;
      .card-over-lay__btn {
        width: 192px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .card-spotlight__image:hover .card-over-lay {
    display: flex;
    transition-delay: 3s;
  }
  .card-content__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: $white-color;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }
  .card-content__btn {
    height: 100%;
    width: 59px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-content__creator {
    display: flex;
    justify-content: space-between;
    align-items: start;
    .card-content__avatar img {
      width: 56px;
      height: 56px;
      object-fit: cover;
    }
    p {
      color: $secondary-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .card-content__left {
    display: flex;
    column-gap: 16px;
    h4 {
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
    }
  }
  .card-content__right {
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
    }
  }
  &.content {
    width: 384px;
  }
}
