.create-wrapper {
  margin-top: 150px;
}
.create-title {
  width: 583px;
  margin: 0 auto;
  margin-bottom: 56px;
  text-align: center;
}
.create-card {
  background-color: $gray-bold-color;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 32px;
  border: 1px solid $gray-bold-color;
  transition: 0.3s;
  user-select: none;
  &:hover {
    background-color: unset;
  }
  .create-card__icon {
    background-color: $blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 50%;
    margin-bottom: 48px;
    img {
      width: 34px;
      height: 34px;
    }
  }
  .create-card__title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
  .create-card__text {
    text-align: center;
    color: $secondary-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .create-wrapper {
    margin-top: 100px;
  }
  .create-title {
    width: auto;
  }
  .create-card {
    margin: 0 10px 10px;
  }
}
@media only screen and (min-width: 768px) {
}
