.discover-search-wrapper {
  text-align: center;
  margin-bottom: 56px;
  .discover-search {
    position: relative;
    width: fit-content;
    margin: 56px auto 0 auto;
    input {
      width: 799px;
      height: 72px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #eef2f6;
      border-radius: 16px;
      color: white;
      padding: 10px 80px 10px 20px;
      outline: none;
      font-size: 2rem;
      font-weight: 600;
      transition: 0.2s ease;
      opacity: 0.5;
      &:focus {
        border: 1px solid $blue-color;
        opacity: 1;
      }
    }
    span {
      position: absolute;
      top: 50%;
      left: 740px;
      transform: translateY(-50%);
      background-color: $blue-color;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        width: 45px;
        height: 45px;
      }
      &:hover svg {
        font-size: 29px;
      }
      svg {
        transition: 0.3s ease;
        font-size: 24px;
      }
    }
  }
}
.discover-cards-wrapper {
  select {
    background-color: unset;
    width: 175px;
    height: 100%;
    border-radius: 16px;
    outline: none;
    border: 2px solid $blue-color;
    padding: 16px;
    color: $white-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }
  option {
    background-color: unset;
    color: $primary-color;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
}
.discover-wrapper-cards {
  margin-top: 56px;
  .col {
    margin-bottom: 20px;
  }
}
.discover-wrapper-more {
  margin-top: 56px;
  display: flex;
  justify-content: center;
}
@media only screen and(min-width : 320px) {
  .discover-wrapper {
    padding: 0 10px;
    .discover-search-wrapper {
      margin-top: 86px;
      max-width: fit-content;
      .discover-search {
        width: 100%;
        margin: 30px auto 0 auto;
        input {
          width: 350px;
        }
        span {
          left: 308px;
        }
      }
      .discover-btn {
        margin: 10px 0;
      }
    }
    .discover-cards-wrapper {
      select {
        margin-bottom: 10px;
      }
    }
    .discover-cards-btns {
      padding-top: 10px;
      a {
        margin-bottom: 10px;
      }
    }
    .discover-wrapper-cards {
      .discover-card {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .discover-wrapper {
    .discover-search-wrapper {
      .discover-search {
        input {
          width: 100%;
        }
        span {
          left: 560px;
        }
      }
    }
    .discover-card {
      width: 100%;
      .card-spotlight {
        width: 100%;
        .card-spotlight__image {
          width: 100%;
        }
      }
      .card-content__creator-name {
        h4 {
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
