.header-wrapper {
  margin: 40px 0 100px 0;
  height: 56px;
  position: relative;
  z-index: 9999999;
  .header-logo {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 4.3rem;
      height: 4rem;
      margin-right: 10px;
    }
    p {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .header-nav {
    flex: 1;
  }
  .header-nav {
    display: flex;
    height: 100%;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 32px;
    li a {
      cursor: pointer;
      color: $secondary-color;
      transition: 0.3s;
      padding-bottom: 2px;
    }
    a:hover {
      color: $white-color;
    }
    a.active {
      color: $white-color;
      border-bottom: 2px solid $blue-color;
    }
  }
  .header-connect {
    width: 175px;
    height: 56px;
    float: right;
    a {
      width: 100%;
      height: 100%;
      border: 1px solid $blue-color;
      border-radius: 16px;
      text-decoration: none;
      line-height: 56px;
      padding: 12px 16px;
      font-weight: 600;
      font-size: 16px;
      color: $white-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media only screen and (min-width: 320px) {
  .header-wrapper {
    margin: 40px 0 20px 0;
    .header-logo {
      justify-content: center;
    }
    .header-nav {
      margin-top: 5px;
      width: 100%;
      padding: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .header-wrapper {
    .row {
      align-items: center;
    }
    .header-connect {
      float: none;
      display: flex;
      align-items: center;
      height: 100%;
      a {
        height: 70px;
      }
    }
    .header-logo {
      padding: 0;
      display: flex;
      align-items: flex-end;
    }
  }
}
