.hero-wrapper {
  position: relative;
  .hero-discover {
    p {
      color: $secondary-color;
      margin-bottom: 40px;
    }
  }
  .hero-cards {
    margin-left: 42px;
  }
  .card-hero {
    position: absolute;
    left: 1226px;
    top: 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .hero-wrapper {
    padding: 0 10px;
    .hero-discover {
      margin-top: 46px;
    }
    .hero-cards {
      margin: 46px 0 0 0;
      display: flex;
      justify-content: center;
      .hero-card {
        width: 100%;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-wrapper {
    .hero-card {
      padding: 40px;
      .card-spotlight {
        width: 100%;
      }
      .card-spotlight__image {
        width: 100%;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
