.hero-wrapper {
  position: relative;
  .hero-discover {
    p {
      color: $secondary-color;
      margin-bottom: 40px;
    }
  }
  .hero-cards {
    margin-left: 42px;
  }
  .card-hero {
    position: absolute;
    left: 1226px;
    top: 0;
  }
}
@media only screen and (max-width: 720px) {
  .hero-wrapper {
    padding: 0 10px;
    .hero-cards {
      margin: 46px 0 0 0;
      display: flex;
      justify-content: center;
      .hero-card {
        width: 100%;
      }
    }
  }
}
