.live-wrapper {
  margin-top: 150px;
  .live-title {
    display: flex;
    margin-bottom: 0;
  }
  .live-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-cards {
    margin-top: 56px;
  }
}
@media only screen and (min-width: 320px) {
  .live-wrapper {
    padding: 0 10px;
    .live-title {
      margin-bottom: 20px;
    }
    .live-cards {
      margin-top: 30px;
      .col {
        display: flex;
        justify-content: center;
      }
    }
    .live-card {
      margin: 0 0 14px 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .live-wrapper {
    .live-title-wrapper {
      .row {
        display: flex;
        align-items: center;
      }
    }
    .live-cards {
      width: 100%;
      .live-card {
        width: 100%;
        .card-spotlight {
          width: 100%;
          .card-spotlight__image {
            width: 100%;
          }
          .card-content {
            width: 100%;
            .card-content__creator {
              column-gap: 10px;
              .card-content__left {
                max-width: 50%;
                .card-content__creator-name {
                  h4 {
                    width: 80px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
              }
              .card-content__right {
                max-width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
