.live-wrapper {
  margin-top: 150px;
  .live-title {
    display: flex;
    margin-bottom: 0;
  }
  .live-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .live-cards {
    margin-top: 56px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 567px) {
  .live-wrapper {
    margin-top: 30px;
    padding: 10px;
    .live-title {
      margin-bottom: 20px;
    }
    .live-cards {
      margin-top: 30px;
      .col {
        display: flex;
        justify-content: center;
      }
    }
    .live-card {
      margin: 0 0 14px 0;
    }
  }
}
@media only screen and (min-width: 567px) and (max-width: 1024px) {
  .live-wrapper {
    margin-top: 80px;
    .live-cards {
      margin-top: 30px;
    }
    .live-title-wrapper {
      .row {
        display: flex;
        align-items: center;
      }
    }
    .card-content {
      width: 100%;
      .card-content__creator {
        column-gap: 10px;
        .card-content__left {
          max-width: 50%;
        }
        .card-content__right {
          max-width: 50%;
        }
      }
    }
  }
}
