.own-wrapper {
  position: relative;
  margin-top: 168px;
  background: radial-gradient(
    151.95% 463.58% at -44.29% -62.34%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
  backdrop-filter: blur(74px);
  padding: 48px 205px;
  border: 1px solid $blue-color;
  text-align: center;

  p {
    margin-bottom: 40px;
    color: $secondary-color;
  }
  .own-btn {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 566px) {
  .own-wrapper {
    padding: 20px 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 567px) and(max-width:768px) {
  .own-wrapper {
    margin-top: 80px;
    padding: 30px 20px;
  }
}
